body{
    background-color: magenta;background-image: url(Capture.PNG);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 300vh;
}
button{
    border: none;
    padding: 5px 13px;
    border-radius: 4px;
    color: red;

}